Repository Level-turing-team/level-zipcode-microservice, pull requests merged in 2021-04, with the labels that each got.

#9 Write basic sinatra distance testing
  .rspec
  .travis.yml
  Gemfile
  Gemfile.lock
  Rakefile
  spec/models/distance_spec.rb
  spec/requests/distance_spec.rb
  spec/requests/radius_spec.rb
  spec/spec_helper.rb
Labels: Distance, Needs Testing

#10 finish request spec and model spec for distance endpoint
  Gemfile.lock
  spec/requests/distance_spec.rb
  spec/requests/radius_spec.rb
  zipcode_base_api.rb
Labels: Distance

#11 Create radius endpoint supported by testing
  config/database.yml
  models/bad_request.rb
  models/radius.rb
  spec/models/bad_request_spec.rb
  spec/models/radius_spec.rb
  spec/requests/radius_spec.rb
  zipcode_base_api.rb
Labels: Radius
